html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: 'Lato', sans-serif;
}
.contenedor {
	max-width: 90%;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.contenedor {
		max-width: 88%;
	}
}
@media screen and (min-width: 1200px) {
	.contenedor {
		max-width: 1100px;
	}
}
img {
	max-width: 100%;
}
.btn {
	padding: 1rem 2.2rem;
	text-transform: uppercase;
	font-size: 1.2rem;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
	font-weight: 700;
}
h2 {
	font-size: 2.6rem;
	margin: 0 0 .8rem 0;
	color: #484848;
}
h3 {
	font-size: 1.4rem;
	margin: 0 0 3rem 0;
	color: #aaa;
}
h4 {
	font-size: 1.2rem;
	margin: 0 0 .6rem 0;
	color: #484848;
}
h5 {
	font-size: 1.1rem;
	margin: 0 0 1.4rem 0;
	color: #aaa;
	font-weight: 300;
}
.textos {
	line-height: 2;
	color: #666;
}
.header {
	height: 100vh;
	background-image: url(../img/overlay.png), url(../img/banner.jpg);
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed; 
	color: #ffffff;
}
.header .contenedor {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.menu-desktop {
	display: none;
}
@media screen and (min-width: 992px) {
	.menu-desktop {
		display: block;
	}
	.menu-movil {
		display: none;
	}
}
.menu-movil i {
	position: absolute;
	top: 1rem;
	left: 0;
	background-color: rgba(144, 144, 144, 0.65);
	padding: .6rem 1rem;
	border-radius: 3px;
	cursor: pointer;
}
.movil {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 16rem;
	margin: 0 0 0 -16rem;
	background-color: #1c1c1c;
	transition: margin .3s ease-in-out;
}
.movil ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	padding: 0;
}
.movil li {
	margin: 0 1rem;
	padding: 1rem 0;
	border-bottom: 1px solid #ddd;
}
.movil li:first-of-type {
	text-align: right;
	border: none;
	margin-right: 1rem;
	color: #ddd;
}
.movil a {
	text-decoration: none;
	color: #ddd;
	font-size: 1.2rem;
	transition: color .3s ease-in-out;
}
.movil a:hover {
	color: #fff;
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 2.6rem;
	left: 1rem;
	right: 1rem;
}
.logo h1 {
	text-transform: uppercase;
	font-size: 1.3rem;
}
.logo span {
	color: #ddd;
}
.navegacion ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.navegacion li {
	margin-right: 2rem;
}
.navegacion li:last-of-type {
	margin-right: 0;
}
.navegacion a {
	text-decoration: none;
	color: #ddd;
	font-size: 1.2rem;
	transition: color .3s ease-in-out;
}
.navegacion a:hover {
	color: #fff;
}
.contenido-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}
@media screen and (min-width: 480px) {
	.contenido-header {
		width: 60%;
	}
}
.contenido-header h2 {
	margin: 0;
	text-transform: uppercase;
	color: #ffffff;
}
.contenido-header p {
	font-size: 1.4rem;
	line-height: 1.75;
	text-transform: uppercase;
	color: #ddd;
}
.btn-header {
	background-color: #f32853;
	color: #ffffff;
	transition: background-color .3s ease-in-out; 
	display: block;
}
@media screen and (min-width: 480px) {
	.btn-header {
		display: inline-block;
	}
}
.btn-header:hover {
	background-color: #f44066;
}
.contenido-principal {
	margin-top: 4rem;
}
@media screen and (min-width: 768px) {
	.contenido-principal .contenedor {
		max-width: 70%;
	}
}
@media screen and (min-width: 1200px) {
	.contenido-principal .contenedor {
		max-width: 60%;
		display: flex;
		justify-content: space-around;
	}
	.contenido-principal-titulo {
		flex: 0 1 calc(50% - 2rem);
	}
	.contenido-principal-texto {
		flex: 0 1 calc(50% - 2rem);
	}
}
.contenido-principal-texto p {
	margin: 0 0 2rem 0;
}
.contenido-principal-texto p:last-of-type {
	margin: 0 0 4rem 0;
}
.destinos {
	background-color: #f6f6f6;
	padding: 4rem 0;
	text-align: center;
}
.item {
	background-color: #ffffff;
	border: 1px solid #ddd;
	margin-bottom: 2rem;
}
.item h2 {
	margin: 1.4rem 0;
	font-size: 1.8rem;
}
.btn-destinos-rojo {
	background-color: #f32853;
	color: #ffffff;
	display: block;
	margin-bottom: 1rem;
	transition: background-color .3s ease-in-out;
}
.btn-destinos-rojo:hover {
	background-color: #f44066;
}
.btn-destinos-oscuro {
	background-color: #323037;
	color: #ffffff;
	display: block;
	transition: background-color .3s ease-in-out;
}
.btn-destinos-oscuro:hover {
	background-color: #3e3c45;
}
@media screen and (min-width: 768px) {
	.destinos .contenedor {
		max-width: 80%;
	}
	.items {
		display: flex;
		justify-content: space-between;
	}
	.item {
		flex: 0 1 calc(50% - 1rem);
	}
	.botones {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.btn-destinos-rojo {
		margin-bottom: 0;
		margin-right: 2rem;
	}
}
@media screen and (min-width: 1200px) {
	.destinos .contenedor {
		max-width: 1100px;
	}
}
.promocion {
	padding: 4rem 0;
}
.promociones {
	margin-top: 4rem;
}
.promo {
	text-align: center;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
}
.texto {
	order: 1;
}
.imagen {
	margin-bottom: 1rem;
}
@media screen and (min-width: 480px) {
	.promo {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
	}
	.promo:nth-child(1) .texto {
		text-align: right;
		order: -1;
	}
	.promo:nth-child(2) .texto {
		text-align: left;
		order: 1;
	}
	.promo:nth-child(3) .texto {
		text-align: right;
		order: -1;
	}
	.promo:nth-child(4) .texto {
		text-align: left;
		order: 1;
	}
	.texto {
		flex: 0 1 calc(60%);
	}
	.imagen {
		flex: 0 1 calc(35%);
		margin-bottom: 0;
	}
}
.imagen img {
	border-radius: 100%;
	border: 8px solid rgba(144, 144, 144, 0.25);
}
@media screen and (min-width: 768px) {
	.promocion .contenedor {
		max-width: 80%;
	}
}
@media screen and (min-width: 992px) {
	.promociones {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
	.promo {
		flex: 0 1 calc(50% - 2rem);
		align-items: flex-start;
	}
	.promo:nth-child(3) {
		margin-bottom: 0;
	}
	.promo:nth-child(4) {
		margin-bottom: 0;
	}
}
@media screen and (min-width: 1200px) {
	.promocion .contenedor {
		max-width: 1100px;
	}
}
.news {
	padding: 5rem 0;
	text-align: center;
	background-image: url(../img/overlay.png), url(../img/banner.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
}
.news h2 {
	font-size: 2.2rem;
	margin: 0;
	text-transform: uppercase;
	color: #ffffff;
}
.news p {
	font-size: 1.4rem;
	line-height: 1.25;
	text-transform: uppercase;
	color: #ddd;
} 
.btn-news {
	color: #ffffff;
	background-color: #f32853;
	display: block;
	transition: background-color .3s ease-in-out;
}
.btn-news:hover {
	background-color: #f44066;
}
@media screen and (min-width: 480px) {
	.btn-news {
		display: inline-block;
	}
}
.footer {
	padding: 4rem 0;
	color: #aaa;
	background-color: #f6f6f6;
}
@media screen and (min-width: 768px) {
	.footer {
		padding: 8rem 0;
	}
}
.redes-sociales {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3rem;
}
.redes-sociales i {
	font-size: 1.8rem;
	margin-right: 2rem;
	transition: color .3s ease-in-out;
	cursor: pointer;
}
@media screen and (min-width: 768px) {
	.redes-sociales i {
		font-size: 2.4rem;
		margin-right: 4rem;
	}
}
.redes-sociales i:last-of-type {
	margin-right: 0;
}
.redes-sociales i:hover {
	color: #666;
}
.copy ul {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.copy li {
	margin-bottom: .6rem;
}
.copy li:last-of-type {
	margin-bottom: 0;
}
@media screen and (min-width: 768px) {
	.copy ul {
		flex-direction: row;
	}
	.copy li {
		padding: .4rem 1.4rem;
		border-right: 1px solid #aaa; 
		margin-bottom: 0;
	}
	.copy li:last-of-type {
		border-right: none; 
	}
}
.copy a {
	text-decoration: none;
	color: #aaa;
	transition: color .3s ease-in-out;	
}
.copy a:hover {
	color: #666;
}